<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Amazon1 Suite" verbose="1" >
   <test name="Amazon">
   <parameter name="url" value="https://www.amazon.in"></parameter>
    <parameter name="Category1" value="Books"></parameter>
    <parameter name="Bookname" value="Da vinci code"></parameter>
    <parameter name="Category2" value="Electronics"></parameter>
    <parameter name="Electronicsname"  value="Mobile phones"></parameter>
    <parameter name="Category3" value="Furniture"></parameter>
    <parameter name="Furniturename" value="Wooden Tables"></parameter>
    
    <classes>
       <class name="com.qa.test.AmazonTest.Amazon_test" />
       <class name="com.qa.test.AmazonTest.AmazonPage" />
    </classes>
  </test>
  </suite>